<mat-list>
            
    <div class="profile-card">
        <div class="header">
            <h2>{{welcome_message}}</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Stocks</h2>
    <mat-divider></mat-divider>
    <a mat-list-item  [routerLink]="['/stockLibrary', {outlets: {'side': ['watchlistedStock']}}]"  routerLinkActive='active'>Watchlisted Stocks</a>
    <a mat-list-item  [routerLink]="['/stockLibrary', {outlets: {'side': ['allBoughtStocks']}}]"  routerLinkActive='active'>Record of Stocks Bought</a>
    <a mat-list-item [routerLink]="['/stockLibrary', {outlets: {'side': ['allSoldStocks']}}]">Record of Stocks Sold</a>
    
    

    <mat-divider></mat-divider>

    <h2 matSubheader>Stock Review</h2>
    <mat-divider></mat-divider>

    <a mat-list-item [routerLink]="['/stockLibrary', {outlets: {'side': ['allReviews']}}]" >View Reviews of Stocks you bought</a>
    <a mat-list-item [routerLink]="['/stockLibrary', {outlets: {'side': ['submitReview']}}]">Post your review</a>

    

</mat-list>