<mat-toolbar color="primary">
    <span class="flex-spacer"></span>
    <h2>Frequently Asked Questions</h2>
    <span class="flex-spacer"></span>
    <button mat-raised-button (click)="displayContactForm()" color="primary">Contact Us</button>
</mat-toolbar>

<h3 style="text-align: justify;">Below are some answers to our most commonly asked questions. Is your question not listed ? Don't hesitate to reach out(Click on Contact us)</h3>
<br>
<mat-accordion style="margin-top: 20px;">

    <mat-expansion-panel>
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          <span class="mat-heading"><h4>Do you have a trial offer so that I can test out the features of your website ?</h4></span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      
      <p class="mat-content">All the services offered by Vshare Securities are of free in nature, We are planning to introduce some special services to premium users which will be available in 2021.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            <span class="mat-heading"><h4>What forms of Payment do you accept ?</h4></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="mat-content">We accept wide range of Payment methods including credit,debit card, NetBanking,EMI,UPI.
            We have collaboration with all the major banks which ensures that you experience an hassle-free payment experience.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            <span class="mat-heading"><h4>Whose company stocks do you offer ?</h4></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="mat-content">We offer a wide range of stocks of all the major companies and organization.We are an reliable organization for the last 2-3 years dude to
            which companies trust us to get buyers for their shares.
        </p>
        <p class="mat-content">Our Executives are constantly working with companies so that you have access to best performing stock Companies out there</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            <span class="mat-heading"><h4>Do you offer stocks of Companies from US,UK,China or any other foreign companies ?</h4></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="mat-content">Sorry, We are currently working with companies in India only.Giving the chance for our clients to invest in stocks of foreign companies
            is definitely in our future roadmap and we will try to bring the service to you as soon as possible.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            <span class="mat-heading"><h4>Is there any age requirement to invest in stocks?</h4></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="mat-content">Yes,The minimum age requirement has been set at 18 according to Company Policy.You must have a valid PAN card
            to start investing in stocks.
        </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="right-aligned-header">
          <mat-panel-title>
            <span class="mat-heading"><h4>Do you store Account details in your server?</h4></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <p class="mat-content">No, We don't store account details in our server.The payment process is encrypted using 128bit SSL encryption which ensures that
            your bank details always stay safe and secured.We also don't store your cards for fast check-out thereby ensuring your security.
        </p>
    </mat-expansion-panel>


</mat-accordion>
