.mat-heading
{
    text-overflow: ellipsis;
    font-family: 'Times New Roman', Times, serif;
}

.mat-content
{
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}