<div fxLayout="row"
fxLayout.sm="column" 
fxLayout.xs="column" 
fxLayoutAlign.xs="start center"
fxLayoutAlign.sm="start center" 
fxLayoutAlign.gt-sm="center center" 
fxLayoutGap="10px">
  <mat-toolbar color="primary">
    <div fxShow="true"   fxHide.gt-sm>
      <button mat-icon-button (click)="sidenav.toggle()" >
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </button>
      
    </div>
      
    <h2 fxShow="true"   fxHide.gt-sm>{{company_name}}</h2>
    <span fxShow="true" fxHide.lt-md="true"><img src="/assets/images/logo.jpg" height=30 width=41></span>
    <div *ngIf="!admin_authorization_status" fxShow="true" fxHide.lt-md="true">
      
      <a mat-button routerLink='/dashboard' routerLinkActive='active'><span class="fa fa-shopping-cart fa-lg"></span> Buy and Sell</a>
      <a mat-button routerLink='/stockWatch' routerLinkActive='active'><span class="fa fa-search fa-lg"></span> Stock watch</a>
      <a mat-button routerLink='/stockForum' routerLinkActive='active'><span class="fa fa-forumbee fa-lg"></span> Forum</a>
      
      <a mat-button routerLink='/stockLibrary' routerLinkActive='active'><span class="fa fa-line-chart fa-lg"></span> Stock Library</a>
      <a mat-button routerLink='/account' routerLinkActive='active'><span class="fa fa-user-circle fa-lg"></span> Your Account</a>
      <a mat-button  (click)="openShoppingCartDialog()"    ><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> Your Cart {{no_of_items}}</a>
      
    </div>
    <div *ngIf="admin_authorization_status" fxShow="true" fxHide.lt-md="true">

      <a mat-button routerLink='/allUsersDetail' routerLinkActive='active'><span class="fa fa-user fa-lg"></span> Users</a>
      <a mat-button routerLink='/allTransactionsDetail' routerLinkActive='active'><span class="fa fa-exchange fa-lg"></span> Transactions</a>
      <a mat-button routerLink='/allStats' routerLinkActive='active'><span class="fa fa-bar-chart fa-lg"></span> Statistics</a>

    </div>

      <span class="flex-spacer"></span>
      <button class="username_button" (click)="displaySignOut()" mat-raised-button><h3 *ngIf="username">Hello {{username}}</h3><h3 *ngIf="admin_username">Hello {{admin_username}}</h3></button>

      
  </mat-toolbar>
  
</div> 

<mat-sidenav-container  fxFlexFill>
  <mat-sidenav class="sideBar" #sidenav>
    <mat-nav-list *ngIf="!admin_authorization_status">
      <a mat-button (click)="sidenav.toggle()" routerLink='/dashboard' routerLinkActive='active'><span class="fa fa-shopping-cart fa-lg"></span> Buy and Sell</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/stockWatch' routerLinkActive='active'><span class="fa fa-search fa-lg"></span> Stock watch</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/stockForum' routerLinkActive='active'><span class="fa fa-forumbee fa-lg"></span> Forum</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/stockLibrary' routerLinkActive='active'><span class="fa fa-line-chart fa-lg"></span> Stock Library</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/account' routerLinkActive='active'><span class="fa fa-user-circle fa-lg"></span> Your Account</a>
      <mat-divider></mat-divider>
      <a mat-button  (click)="openShoppingCartDialog()"    ><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i> Your Cart {{no_of_items}}</a>
    </mat-nav-list>

    <mat-nav-list *ngIf="admin_authorization_status"> 
      <a mat-button (click)="sidenav.toggle()" routerLink='/allUsersDetail' routerLinkActive='active'><span class="fa fa-user fa-lg"></span> Users</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/allTransactionsDetail' routerLinkActive='active'><span class="fa fa-exchange fa-lg"></span> Transactions</a>
      <mat-divider></mat-divider>
      <a mat-button (click)="sidenav.toggle()" routerLink='/allStats' routerLinkActive='active'><span class="fa fa-bar-chart fa-lg"></span> Statistics</a>
      <mat-divider></mat-divider>
    </mat-nav-list>

  </mat-sidenav>
  
  <mat-sidenav-content fxFlexFill>
    <div class="container jumbotron"
        fxLayout="row"
        fxLayout.sm="column" 
        fxLayout.xs="column" 
        fxLayoutAlign.xs="start center"
        fxLayoutAlign.sm="start center" 
        fxLayoutAlign.gt-sm="center center" 
        fxLayoutGap="10px">
      <div class="header_text" fxFlex fxFlex.gt-sm="50%">
        <h1>Vshare Securities</h1>
        <p>We take inspiration from the World's best stock market traders, and create a unique stock market experience for all our cutomers.Our state of
          technology and the best minds at work will certainly help you make the correct decision</p>
      </div>
      <div fxFlex></div>
    </div>
  </mat-sidenav-content>
  



</mat-sidenav-container>
