$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;
$banner-text:#fcdb03;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background-image: url(/assets/images/header_page_bg.jpg);
    color:$banner-text;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_text
{
    opacity: 1;
}

p
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 120%;
}

.active {
    background: $background-moredark;
}