<div class="bg-image" style="height:450px;width:inherit;"></div>

<div class="bg-text">
    <h1>Welcome to Vshare Securities Admin Module</h1>
    <p>All the User Details, their Transactions are accessible in this module. Complete Accessibility to all the data</p>
    <p fxShow="true" fxHide.lt-md="true"  >You can access each of the modules by clicking on the links available in the header</p>
    <p fxShow="true" fxHide.gt-sm>You can access each of the modules by clicking on the menu icon</p>
</div>
