.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .mat-slider
  {
    margin-top: 16px;
    width: 300px;
  }

  #item_not_found_banner
{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg);
    background-size: cover;
    width:inherit;
    background-repeat: no-repeat;
}