.example-chip-list 
{
    width: 90%;
}

.mat-form-field 
{
    margin-top: 16px;
}
  
.example-full-width {
    width: 50%;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
.stats-card
{
  max-width: 200px;
}