<mat-toolbar color="primary">
    <span class="flex-spacer"></span>
    <h2>Review of stocks you have bought</h2>
    <span class="flex-spacer"></span>
</mat-toolbar>

<ng-marquee *ngIf="display_review_status" speed="normal" [stopOnHover]="true">
    <mark><h2>Reviews of few of the stocks are not available currently,It will become available as soon as clients submit review of the stock</h2></mark>
</ng-marquee>


<div *ngIf="display_review_status">

  <mat-accordion *ngIf="all_bought_stock_reviews" style="margin-top: 20px;">
    <mat-expansion-panel *ngFor="let object of all_bought_stock_reviews" (opened)="getStockName(object)">
      <mat-expansion-panel-header class="right-aligned-header">
        <mat-panel-title>
          {{object.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{object.stock_review}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container"
                fxLayout="row"
                fxLayout.sm="column"
                fxLayout.xs="column"
                fxLayoutAlign.gt-md="space-around center"
                fxLayoutGap="10px" 
                fxLayoutGap.xs="10px">
      
                <mat-card class="example-card">
                  <mat-card-content>
                      <h3 style="text-align: center;">Stock Name</h3>
                      <p style="text-align: center;font-size:300%;line-height: 1.3;">{{current_stock_name}}</p>
                  </mat-card-content>
                 </mat-card>

                 <mat-card class="example-card">
                  <mat-card-content>
                      <h3 style="text-align: center;">Review Provided by</h3>
                      <p style="text-align: center;font-size:300%;">{{object.name}}({{object.age}})</p>
                  </mat-card-content>
                 </mat-card>

                 <mat-card class="example-card">
                  <mat-card-content>
                      <h3 style="text-align: center;">Review submitted on</h3>
                      <p style="text-align: center;font-size:300%;">{{object.submitted_on}}</p>
                  </mat-card-content>
                 </mat-card>

                 <mat-card class="example-card">
                  <mat-card-content>
                      <h3 style="text-align: center;">Review</h3>
                      <p style="text-align: center;font-size:300%;line-height: 1.5;">{{object.stock_review}}</p>
                  </mat-card-content>
                 </mat-card>

                 <mat-card class="example-card">
                  <mat-card-content>
                      <h3 style="text-align: center;">Rating</h3>
                      <p style="text-align: center;font-size:300%;">{{object.rating}}/5</p>
                  </mat-card-content>
                 </mat-card>
      
      
      
      </div>


    </mat-expansion-panel>
  
      
    
  </mat-accordion>

</div>
<div id="item_not_found_banner" *ngIf="!display_review_status">
  <h2 style="color: white;text-align: center;padding-top: 20px;padding-bottom: 20px;font-size: 200%;">404</h2>
  <h3 style="color: white;text-align: center;">Reviews Not Found</h3>
  <p style="color: white;text-align: center;padding-top: 20px;padding-bottom: 20px;"  >No Reviews are available since you have'nt Bought any Stocks up till now.</p>
</div>


  
