/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variable';
@import '../node_modules/font-awesome/scss/font-awesome.scss';


.container
{
    margin: 20px;
    display: flex;
}

body{

    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}


.text-floral-white {
    color: floralwhite!important;
    background-color: $background-dark;
    width: 200px;
    border-radius: 10px;
}

.flex-spacer {
    flex: 1 1 auto;
  }

  .highlight
  {
      background-color: $background-pale;
      border: 1px solid $primary-color-dark;
      z-index: 3;
      transform: scale(1.05);
      
  }

  .right-aligned-header > .mat-content {
    justify-content: space-between;
}

.right-aligned-header
{
  color: black;
  font-size: 120%;
  font-family: 'Times New Roman', Times, serif;

}

.right-aligned-header:hover
{
  height:200px;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.username_available_snackbar
{
  background-color: green;
  color:black;
}
.username_unavailable_snackbar {
  background-color:red;
  color: white;
}


