<div class="container"
    fxLayout="row">

    <div fxLayout="row">
        <img id="left_side" src="/assets/images/home_screen_trial_5.jpg"/>
        <div id="right_side">
            <div fxLayout="column">
                <h2 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">
                        Pan India Presence
                </h2>
                <p style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;
                        padding-left: 5px;
                        padding-right: 5px;">
                    Vshare Securities has offices in all major cities of India to help you in person to solve any problems,doubts
                    regarding your stocks that you have bought,sold.
                    <br>

                </p>
            </div>
        </div>
    </div>
    
</div>
<div class="container"
    fxLayout="row">

    <div fxLayout="row">
        <div id="right_side">
            <div fxLayout="column">
                <h2 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">
                        Best Stocks only for You.
                </h2>
                <p style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;
                        padding-left: 5px;
                        padding-right: 5px;">
                    Vshare Securities offers you the best stocks available in the market so that you can invest your money in stocks
                    which gives maximum returns on your investment.
                </p>
            </div>
        </div>
        <img id="left_side" src="/assets/images/home_screen_trial1.jpg"/>
    </div>
    
</div>
<div class="container"
    fxLayout="row">

    <div fxLayout="row">
        <img id="left_side" src="/assets/images/home_screen_trial3.jpg"/>
        <div id="right_side">
            <div fxLayout="column">
                <h2 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">
                        Best of the IT world.
                </h2>
                <p style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;
                        padding-left: 5px;
                        padding-right: 5px;">
                    Vshare Securities employs the best developers to provide it's user a seamless experience and security during their transactions
                </p>
            </div>
        </div>
    </div>
    
</div>

<div class="container" 
     id="test" 
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px" 
     fxLayoutGap.xs="0"> 

    <div style="display: flex;
                align-items: center;
                justify-content: center;
                color: white;">
        <div fxLayout="column">

            <h1 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">#1</h1>
            <p style="color: whitesmoke;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.2;">Ranked Number 1 by StockTrading.com in the <br> 
                category of upcoming Trade Start-ups</p>

        </div>
        
    </div>
    <div style="display: flex;
                align-items: center;
                justify-content: center;
                color: white;">
        <div fxLayout="column">

            <h1 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">500</h1>
            <p style="color: whitesmoke;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.2;">

                Users who are satisfied by their choice of selecting Vshare Securities for buying Stocks

            </p>

        </div>
        
    </div>
    <div style="display: flex;
                align-items: center;
                justify-content: center;
                color: white;">
        <div fxLayout="column">

            <h1 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">10</h1>
            <p style="color: whitesmoke;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.2;">offices spread across India to help solve Users's problem in person</p>

        </div>
        
    </div>
    <div style="display: flex;
                align-items: center;
                justify-content: center;
                color: white;">
        <div fxLayout="column">

            <h1 style="color: whitesmoke;
                        text-align: center;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        line-height: 1.2;">50</h1>
            <p style="color: whitesmoke;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            line-height: 1.2;">Lakhs invested by Users in Stocks through Vshare Securities</p>

        </div>
        
    </div>
</div>

<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>Vshare Securities Mobile App</h3>
            </mat-card-title>
            <mat-card-subtitle>Soon to be available in Android and iOS devices</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/featured_image_card_1.jpg">
        <mat-card-content>
            <p>We are pleased to announce that we will soon be launching the iOS and Android app of Vshare Securities.Keep an eye on this space for updates
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>COVID-19 Madness</h3>
            </mat-card-title>
            <mat-card-subtitle>Beat Lockdown Blues with Smart Investment</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/images/stock_card_cover.jpg">
        <mat-card-content>
            <p>Enjoy smart investment during this pandemic by using coupon code "LOCKDOWN40".<br> 
                Apply this coupon code during checkout to guess 40% cashback. 
            </p>
        </mat-card-content>
    </mat-card>

</div>


