<h1>Add your alien</h1>
<p>{{alien_add_form.value | json}}</p>
<form novalidate [formGroup]="alien_add_form" (ngSubmit)="onAddingAlien()">

    <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="alien_id" placeholder="Alien ID:" type="number">
        </mat-form-field>
        <br>
        <mat-form-field class="half-width">
          <input matInput formControlName="alien_name" placeholder="Alien Name" type="text">
        </mat-form-field>
        <br>
        <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
    </p>


</form>